{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Design Pattern Playground
      </h1>
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>
      <h2 class="heading-large">Check Your Answers</h2>
			<ul>
				<li><a href="CYA">Check Your Answers</a></li>
			</ul>

      <h2 class="heading-large">RAS Query String parameters</h2>
			<ul>
				<li><a href="RAS">Without Query String parameters</a></li>
				<li><a href="/RAS?title=Hello%20World">With Query String parameters</a></li>
			</ul>

      


    </div>
  </div>
</main>

{% endblock %}


